<!--section header-->
<div class="primary-header">
  <h2>
    <span class="primary-header-text">Hierarchical Table</span>
  </h2>
  <p class="primary-header-note">This is the exact representation asked in the requirement. It displays organisation
    hierarchy
    of given employees input and decide employees positions by rank and level.</p>
</div>
<!--data source table-->
<app-data-source layoutType="tableLayout" *ngIf="displaySource"></app-data-source>
<!--hierarchical table layout-->
<div class="chart table-container" *ngIf="!displaySource">
  <table class="table table-striped">
    <thead>
    <tr>
      <th *ngFor="let item of dataSource.maxRank; let rank = index" style="text-align: center">Rank {{ rank+1 }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employee of dataSource.rankedEmployees">
      <td *ngFor="let item of dataSource.maxRank; let rank = index ">
        <span *ngIf="employee.rank === rank+1">{{ employee.name }}</span>
      </td>

    </tr>
    </tbody>
  </table>
</div>
<!--show source/layout button-->
<div class="button-container">
  <button class="button" role="button" (click)="showSource()">{{ buttonText }}</button>
</div>
