<!--main header-->
<div class="main-header">
  <h1>Monmenton Code Challenge Solution</h1>
  <p>Angular 5 | HTML 5 | CSS 3 | D3.js | JAVA 8+ | Spring MVC</p>
</div>

<!--table layout section-->
<section>
  <app-hierarchical-table></app-hierarchical-table>
</section>

<!--tree layout section-->
<section>
  <app-tree-layout></app-tree-layout>
</section>

<!--cluster layout section-->
<!--<section>
  <app-cluster-layout></app-cluster-layout>
</section>-->

<!--treemap layout section-->
<section>
  <app-treemap-layout></app-treemap-layout>
</section>

<!--pack layout section-->
<section>
  <app-pack-layout></app-pack-layout>
</section>

<app-footer></app-footer>
