/*
* === section 1: main header ===
*/
.main-header{
  text-align: center;
  margin-top: 10%;
  margin-bottom: 50%;
}

.main-header h1 {
  font-size: 65px;
}

p {
  margin-top: 42px;
  font-size: 25px;
}
/*
* === end section 1: main header ===
*/




/*
* === section 2 ~ 5: - layouts ===
*/
section {
  margin: 120px auto;
}
/*
* === end section 2 ~ 5: - layouts ===
*/
