/**
* NOTE THIS COMPOENET IS NOT USED IN THIS PRPJECT!!!
*
* Copyright (c) 2018 All Rights Reserved.
* @author Jing Zhou
* @since 1.0.0
*/

<div class="primary-header">
  <h2>
    <span class="primary-header-text">Cluster Layout</span>
  </h2>
  <p class="primary-header-note">The cluster layout is very similar to the tree layout the main
    difference being all leaf nodes are placed at the same depth.</p>
</div>

<div class="chart">
  <svg width="700" height="500">
    <g transform="translate(5, 5)">
      <g class="links"></g>
      <g class="nodes"></g>
    </g>
  </svg>
</div>
