<div class="table-container">
  <!--data source table-->
  <table class="table table-striped">
    <!--column headers-->
    <thead>
    <tr>
      <th *ngFor="let header of displayedColumns" style="text-align: center">{{ header }}</th>
    </tr>
    </thead>
    <!--rows-->
    <tbody>
    <tr *ngFor="let row of dataSource">
      <td>
        <span>{{ row.id }}</span>
      </td>
      <td>
        <span>{{ row.name }}</span>
      </td>
      <td>
        <span>{{ row.manager }}</span>
      </td>

    </tr>
    </tbody>
  </table>
</div>
