/*google font work sans - same as momenton's website*/
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400, 500, 700');
/*fontawesome for icons*/
@import url('https://use.fontawesome.com/releases/v5.0.10/css/all.css');

/*
* === body ===
*/
body {
  padding-top: 200px; /*required to fix nav bar fixed position issue*/
  font-family: "Work Sans", sans-serif !important;
  color: #262166 !important;
}
/*
* === end body ===
*/




/*
* === main header ===
*/
.primary-header {
  text-align: center;
  margin-bottom: 60px;
  padding: 0px;
}

.primary-header-text {
  display: inline-block;
  font-size: 4.5rem;
  padding-bottom: 5px;
  margin-bottom: 18px;
  border-bottom: 4px solid rgb(82, 121, 188);
}

.primary-header-note {
  font-size: 2.5rem;
}
/*
* === end main header ===
*/




/*
* === layout container ===
*/
.chart {
  text-align: center;
}
/*
* === end layout container ===
*/




/*
* === button ===
*/
.button {
  border-radius: 25px;
  border: 2px solid rgb(82, 121, 188);
  background-color: white;
  padding: 9px 25px;
  margin-bottom: 12px;
  transition: 0.8s;
  outline: none;
}

.button:hover,
.button:active {
  background-color: rgb(82, 121, 188);
  color: white;
}

.button-container {
  text-align: center;
}
/*
* === end button ===
*/




/*
* === data source table container ===
*/
.table-container {
  height: 300px;
  width: 800px;
  margin: auto;
  overflow: auto; /*set fixed height and make table scrollable*/
}

/*
* === end data source table container ===
*/

/*
* === data source table ===
*/
table {
  border: 1px solid lightgrey; /*add table border*/
}

th, tr {
  text-align: center; /*align all text to the center*/
}

/*
* === end data source table ===
*/

