/*
* — node —
*/
.tree-layout .node circle {
  fill: #ea068c;
  opacity: 1;
}


/*
* — node text —
*/
.node text {
  font: 12px;
}
.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

/*
* — link —
*/
.link {
  fill: none;
  stroke: #262166;
  stroke-width: 2px;
}
