<!--section header-->
<div class="primary-header">
  <h2>
    <span class="primary-header-text">Tree Layout</span>
  </h2>
  <p class="primary-header-note">The tree layout arranges the nodes of a hierarchy in a tree like arrangement.</p>
</div>

<!--data source table-->
<app-data-source layoutType="treeLayout" *ngIf="displaySource"></app-data-source>

<!--tree layout-->
<div class="chart tree-layout" [style.display]="displaySource?'none':''">
</div>

<!--show source/layout button-->
<div class="button-container">
  <button class="button" role="button" (click)="showSource()">{{ buttonText }}</button>
</div>
