<!--section header-->
<div class="primary-header">
  <h2>
    <span class="primary-header-text">Treemap Layout</span>
  </h2>
  <p class="primary-header-note">Treemaps were invented by Ben Shneiderman to visually
    represent hierarchies where each item has an associated value.</p>
</div>

<!--data source table-->
<app-data-source layoutType="treemapLayout" *ngIf="displaySource"></app-data-source>

<!--treemap layout-->
<div class="chart treemap-layout" [style.display]="displaySource?'none':''">
  <svg width="720" height="470">
    <g></g>
  </svg>
</div>

<!--show source/layout button-->
<div class="button-container">
  <button class="button" role="button" (click)="showSource()">{{ buttonText }}</button>
</div>
