<!--section header-->
<div class="primary-header">
  <h2>
    <span class="primary-header-text">Pack Layout</span>
  </h2>
  <p class="primary-header-note">The pack layout is similar to the tree layout but circles instead of rectangles
    are used to represent nodes</p>
</div>

<!--data source table-->
<app-data-source layoutType="packLayout" *ngIf="displaySource"></app-data-source>

<!--Pack Layout-->
<div class="chart pack-layout" [style.display]="displaySource?'none':''">
  <svg width="720" height="470">
    <g></g>
  </svg>
</div>

<!--show source/layout button-->
<div class="button-container">
  <button class="button" role="button" (click)="showSource()">{{ buttonText }}</button>
</div>
