<div class="container">
  <div class="row">
    <!--error container-->
    <div class="error-template">
      <!--header-->
      <h1>Oops!</h1>
      <h2>404 Not Found</h2>
      <!--details-->
      <div class="error-details">
        Sorry, an error has occured, Requested page not found!<br>
      </div>
      <!--action butoons-->
      <div class="error-actions">
        <!--routers back to home page on button click-->
        <a class="btn btn-primary" [routerLink]="['/']">
          <i class="icon-home icon-white"></i> Take Me Home </a>
      </div>
    </div>
  </div>
</div>
