/*
* === 404 component container ===
*/
.error-template {
  padding: 40px 15px;
  text-align: center;
}
/*
* === end 404 component container ===
*/



/*
* === action buttons container ===
*/
.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}
/*
* === end action buttons container ===
*/



/*
* === button ===
*/
.btn {
  margin-right: 10px;
  background-color: #262166;
}

.btn:hover {
  background-color: #3b3775;
}
/*
* === end button ===
*/
