/*
* === footer container ===
*/
footer {
  padding: 55px 85px;
  color: white;
  background-color: rgb(51,51,51);
  margin-top: 68px;
}

/*
* — footer columns —
*/
.footer-column {
  display: inline-block;
  vertical-align:top;
}

/*
* — boxes in left footer column —
*/
.footer-box {
  border: 2px solid white;
  padding: 16px 78px;
  margin-bottom: 18px;
  text-align: center;
  transition: 0.8s;
  cursor: pointer;
}

.footer-box p {
  margin: 0px;
  padding: 0px;
}

.footer-box:hover {
  border: 2px solid #ea068c;
  background-color: #ea068c;
}

/*
* — copyright text —
*/
.footer-copyright {
  margin-top: 38px;
}
/*
* === end footer container ===
*/




/*
* === footer headings ===
*/
h1 {
  margin-top: 0px;
  margin-bottom: 12px;
}

h3 {
  margin-top: 0px;
  margin-bottom: 48px;
}
/*
* === end footer headings ===
*/




/*
* === icons ===
*/
i {
  display: inline-block;
  margin-right: 12px;
  font-size: 15px;
}

.icon {
  position: relative;
  top: 1.4px;
}
/*
* — social icon  —
*/
.social {
  margin-top: 32px;
  border: 1px solid white;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  transition: 0.8s;
  cursor: pointer;
}

.social:hover {
  border: 1px solid #ea068c;
  background-color: #ea068c;
}
/*
* === end icons ===
*/




/*
* === right column ===
*/
.right {
  margin-left: 22px;
}
.right p {
  margin-bottom: 6px;
}

.center-aligned {
  text-align: center; /*align all texts in right column to the center*/
}
/*
* === end right column ===
*/
