<footer>
  <!--left column-->
  <div class="footer-column">
    <!--address box-->
    <div class="footer-box">
      <p><i class="fa fa-home icon"></i>Address:</p>
      <p>Level 8, 35 Collins Street</p>
      <p>Melbourne, Australia 3000</p>
    </div>
    <!--mobile box-->
    <p class="footer-box"><i class="fa fa-mobile icon"></i>+61 452220305</p>
    <!--email box-->
    <p class="footer-box"><i class="fa fa-at icon"></i>jzho910305@gmail.com</p>
    <!--copy right line-->
    <p class="footer-copyright">Copyright 2018 | All Rights Reserved</p>
  </div>

  <!--right column-->
  <div class="footer-column center-aligned right">
    <!--footer title-->
    <h1>Contact</h1>
    <h3>I'd love to hear from you</h3>
    <!--footer note-->
    <p>We are hungry not greedy with a insatiable appetite for change, if you back</p>
    <p>yourself and aren’t afraid to challenge the norm then don’t be afraid to say hi.</p>
    <!--linkedIn icon-->
    <i class="fab fa-linkedin-in icon social"></i>
  </div>

</footer>
