<!--header-->
<nav class="navbar navbar-default navbar-fixed-top on-scroll" style="padding: 26px 10%;" #navRef>
  <!--company logo-->
  <div class="container-fluid">
    <div class="navbar-header">
      <a [routerLink]="['/']"><img src="https://momenton.com.au/wp-content/uploads/2018/03/logo_text-1.png"
                                   alt="Momenton Logo"></a>
    </div>

    <!--list of menu items-->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active"><a [routerLink]="['data-management']">Data Management</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/hierarchical-table']">Hierarchical Table</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/tree-layout']">Tree Layout</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/treemap-layout']">Treemap Layout</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/pack-layout']">Pack Layout</a></li>
      </ul>
    </div>
  </div>
</nav>
