/*
* === buttons ===
*/
.block-button {
  display: block;
}
.add {
  background-color: rgb(82,130,188);
}

.add:hover {
  background-color: rgb(82,112,188);
}

.delete {
  background-color: rgb(234,6,102);
}

.delete:hover {
  background-color: rgb(234,6,64);
}
/*
* === end buttons ===
*/



/*
* === left panels ===
*/
.active {
  background-color: rgb(82, 121, 188);
}
.active:hover {
  background-color: rgb(82, 121, 188);
}
/*
* === end left panels ===
*/




.invalid-id {
  border: 2px solid red;
}
