<div class="row">
  <!--panel list on the left-->
  <div class="col-md-5">
    <a role="" style="cursor: pointer;"
       class="list-group-item clearfix dataTab"
       *ngFor="let type of types; let i = index"
       (click)="setlayoutType(type.key)"
       [ngClass]="{'active': type.key === activeLayout}">
      <div class="pull-left">
        <!--data source type-->
        <h4 class="list-group-item-heading">{{ type.value }}</h4>
        <!--Tech desc-->
        <p class="list-group-item-text">{{ type.desc }}</p>
      </div>
      <!--Tech icon-->
      <span class="pull-right">
            <i [class]="type.icon" style="font-size: 32px;"></i>
      </span>
    </a>
  </div>
  <!--data source control section on the right-->
  <div class="col-md-7">
    <div class="row">
      <div class="col-xs-12">
        <!--edit date source form-->
        <form #f="ngForm" (ngSubmit)="onFormSubmit()">
          <div class="row">
            <!--name input-->
            <div class="col-sm-5 form-group">
              <label for="name">Name</label>
              <input type="text"
                     id="name"
                     class="form-control"
                     name="name"
                     ngModel
                     required>
            </div>
            <!--id input-->
            <div class="col-sm-4">
              <label for="id">ID</label>
              <input type="text"
                     id="id"
                     class="form-control"
                     name="id"
                     ngModel
                     required
                     (focus)="idInputFocus()"
                     [ngClass]="{'invalid-id': idNotUnique}"
                     pattern="^[1-9]\d*$">
              <!--Error msg when unique constraint is violated-->
              <p style="color:red" *ngIf="idNotUnique">ID has to be unique</p>
            </div>
            <!--manager input-->
            <div class="col-sm-2">
              <label for="manager">Manager</label>
              <input type="text"
                     id="manager"
                     class="form-control"
                     name="manager"
                     ngModel
                     pattern="^[1-9]\d*$">
            </div>
          </div>
          <div class="row">
            <!--button group-->
            <div class="col-xs-12">
              <button class="btn btn-success add" type="submit" [disabled]="f.invalid"><i class="fa fa-plus"></i> Add</button>
              <button class="btn btn-danger delete" type="button" (click)="delete()"><i class="fa fa-trash"></i> Delete</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <hr>
    <app-data-source [layoutType]="activeLayout"></app-data-source>
  </div>
</div>
